{% extends "layout.html" %}
{% block body %}
<form action="/proposeItinerary" method="POST">
<div class="row">
                                    <div class="large-6 columns">
                                        <div class="row">
                                            <div class="large-6 columns">
                                                <input type="date" placeholder="From" name="startDate" />
                                            </div>
                                            <div class="large-6 columns">
                                                <input type="date" placeholder="To" name="endDate" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="large-6 columns">
                                                <input name="presenceOfKids" value="yes" type="checkbox"><label for="presenceOfKids">Presence of kids</label>
                                            </div>
                                            <div class="large-6 columns">
                                                <input name="needsFreeTime" value="yes" type="checkbox"><label for="needsFreeTime">Needs free time</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="large-12 columns" style="padding-top:20px">
                                                <input type="text" name="clientName" id="clientName" placeholder="Client name" />
                                                <input type="hidden" name="existingClient" id="existingClient" value="0" />
                                              

                                                <div id="clientDetails">
                                                    <input name="clientQuiet" type="checkbox" value="yes"><label for="quiet">Quiet person</label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="large-6 columns">
                                        <h5>Express your preferences:</h5>
                                        <p>Let's me help to choose the locations. Move the slider as you want</p>

                                        <label for="preferenceShopping">Shopping:</label>
                                        <input type="hidden" id="shopping" name="preferenceShopping" value="3">
                                        <div id="shopping-slider" class="ui-slider"></div>

                                        <label for="preferenceCulture">Culture:</label>
                                        <input type="hidden" id="culture" name="preferenceCulture" value="3">
                                        <div id="culture-slider" class="ui-slider"></div>

                                        <label for="preferenceGastronomy">Gastronomy:</label>
                                        <input type="hidden" id="gastronomy" name="preferenceGastronomy" value="3">
                                        <div id="gastronomy-slider" class="ui-slider"></div>

                                        <label for="preferenceNightLife">Night Life:</label>
                                        <input type="hidden" id="nightLife" name="preferenceNightLife" value="3">
                                        <div id="nightLife-slider" class="ui-slider"></div>
                                    </div>
                                </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <h5>Do you want to exclude some locations?</h5>
                            <textarea id="excludeLocations" name="exclude" placeholder="Location name" rows="1" style="width:300px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <h5>Do you want to include some locations?</h5>
                            <textarea id="includeLocations" name="include" placeholder="Location name" rows="1" style="width:300px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns" style="text-align:right">
                            <a id="submit" href="#" class="button [tiny small large]">Next &gt;</a>
                        </div>
                    </div>
</form>
{% endblock %}