<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flick/jquery-ui-1.10.4.custom.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flat-ui.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/textext/css/textext.core.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/textext/css/textext.plugin.tags.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/textext/css/textext.plugin.autocomplete.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/textext/css/textext.plugin.tags.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="{{ url_for('static', filename='js/vendor/html5shiv.js') }}"><\/script>')</script>
        <![endif]-->
    </head>
    <body>

        <div class="row">
          <div class="large-12 columns" id="wrapper">

            <div class="row">
                <div class="large-3 columns" id="sidebar">
                    <h1>easyAround</h1>
                    <ul>
                        <li class="selected" id="step1">Trip details</li>
                        <li id="step2">Schedule</li>
                    </ul>
                </div>
                <div class="large-9 columns" id="content">
                    {% block body %}{% endblock %}
            </div>


            

          </div>
        </div>


        <script src="{{ url_for('static', filename='js/vendor/jquery-1.10.2.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/jquery-ui-1.10.4.custom.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/textext/js/textext.core.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/textext/js/textext.plugin.ajax.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/textext/js/textext.plugin.autocomplete.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/textext/js/textext.plugin.tags.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
