{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="large-12 columns">

        <table style="width:100%">
            <tr>
                <th>Day</th>
                <th>Morning</th>
                <th>Afternoon</th>
                <th>Meal</th>
                <th>Evening</th>
            </tr>
            {% for day in days %}
            <tr>
                <td class="first" rowspan="2">{{ day.date.strftime("%d-%m") }}</td>
                {% for timeslot in day.timeslots %}
                    {% if timeslot.location is none %}
                    <td></td>
                    {% else %}
                    <td class="title">{{ timeslot.location.name }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
                <tr>
                {% for timeslot in day.timeslots %}
                    {% if timeslot.location is none %}
                    <td></td>
                    {% else %}
                    <td>
                        <img src="{{ url_for('static', filename='images/locations/'+timeslot.location.image) }}" alt="" width="160" height="160" />
                    </td>
                    {% endif %}
                {% endfor %}
            <tr>
            {% endfor %}

        </table>

    </div>
</div>
{% endblock %}