{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="large-12 columns">

        <table style="width:100%">
            <tr>
                <th>Day</th>
                <th>Morning</th>
                <th>Afternoon</th>
                <th>Meal</th>
                <th>Evening</th>
            </tr>
            {% for day in days %}
            <tr>
                <td class="first" rowspan="2">{{ day.date.strftime("%d-%m") }}</td>
                {% for timeslot in day.timeslots %}
                    {% if timeslot.location is none %}
                    <td></td>
                    {% else %}
                    <td class="title">{{ timeslot.location.name }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
                <tr>
                {% for timeslot in day.timeslots %}
                    {% if timeslot.location is none %}
                    <td></td>
                    {% else %}
                    <td style="background:url({{ url_for('static', filename='images/locations/'+timeslot.location.image) }});">
                        <a href="#" id="location{{ timeslot.location.ID }}">
                            
                        </a>
                    </td>
                    {% endif %}
                {% endfor %}
            <tr>
            {% endfor %}

        </table>

        <div style="text-align:right;margin-top:20px">
            <a href="#" class="button secondary alert" id="modifyItinerary">Modify itinerary</a>
            <a href="/" class="button secondary success" id="confirmItinerary">Confirm itinerary</a>
            <a href="{{ url_for('excludeLocations', itinerary_ID=itinerary.ID) }}" class="button secondary" id="showNewItinerary">Show new itinerary</a>
        </div>

    </div>
</div>
{% endblock %}